body {
  background-image: url(../../assets/img/oooscillate.svg);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 100vh;             
  margin: 0;                    
  display: flex;             
  align-items: center; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 450px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  width: 450px;
  border: #F1464B 1px solid;
}

.title {
  font-size: 28px;
  color: hsl(358, 86%, 61%);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  align-self: center;

}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
  
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .dateInput {
  flex-basis: 100%; 
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 33px;
  font-size: 0.7em;
  font-weight: 600;
}

.dateInput[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}

.form label .input:valid + span {
  color: #17A567;
}

.input:hover {
  color: #F1464B;
}
.error {
  color: #F1464B;
  display: none;
  font-size: xx-small;
  margin-left: 3px;
}

.submit {
  border: none;
  outline: none;
  background-color: #F1464B;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  border: #F1464B 1px solid;
  transform: .3s ease;
}

.submit:hover {
  background-color: #fff;
  color: #F1464B;
  border: #F1464B 1px solid;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.custom-alert {
  position: absolute;
  top: 20px;
  right: 20px;
  width: auto;
  max-width: 300px; 
  z-index: 1000; 
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 5px;
}

.custom-alert button.btn-close {
  position: relative;
  top: -2px;
}
