
* {
  font-family: "Montserrat", serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F2F8F7;
}

header {
  background-color: #17A567;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px;
  z-index: 1000;
}


@media (max-width: 480px) {
  .header-content {
    padding: 0 20px;
  }

  .nav-menu {
    display: none;
  }

  .video-overlay h1 {
        font-size: 1.5em; 
    }

    .video-overlay h4 {
        font-size: 0.95em; 
    }
}


.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 40px;
  height: 100%;
}

.title h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  color: #136F54;
}

p {
  color: #333333;
}

.nav-menu {
  flex-grow: 2; 
  display: flex;
  justify-content: center;
}

.nav-menu nav ul, .register-login {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px; 
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
  color: #FD5E53;
  transform: scale(1.05);
}

.register-btn,
.login-btn {
  color: white;
  text-decoration: none;
  padding: 4px 16px;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

.register-btn, 
.login-btn {
  background-color: transparent;
  border: 1px solid #DBE2EF;
}

.register-btn:hover, .login-btn:hover {
  background-color: #F1464B;
  border: 1px solid #F1464B;
  color: #DBE2EF;
}

.video-container {
  position: relative;
  height: 70vh;
  overflow: hidden;
}

#bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

.video-overlay h1, .video-overlay h2 {
  text-align: left;
  margin-left: 20px; 
  flex-grow: 1;
  letter-spacing: 2px;
}
/* Container for Department Slider */
.department-container {
  position: relative;
  background: linear-gradient(to right, #17A567, #D6F9E9, #17A567);
  overflow: hidden;
}

/* Slider wrapper */
.logos-slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logos-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.logo-container {
  position: relative;
  border-radius: 50%;
  transition: transform 0.3s ease, filter 0.3s ease;
}



.logo-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: filter 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.logo-container:hover .logo-img {
  transform: scale(1.05);
  filter: blur(2px); 
}
.overlay-text {
  position: absolute;
  bottom: 50%; 
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 100%;
  border-radius: 10px;
}

.logo-container:hover .overlay-text {
  opacity: 1;
   /* Adjust position on hover */
}

/* Arrow buttons */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.arrow:hover {
  background-color: rgba(255, 255, 255, 1);
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .logo-img {
      width: 120px;
      height: 120px;
  }

  .overlay-text {
      font-size: 10px;
  }
}

@media (max-width: 480px) {
  .logo-img {
      width: 100px;
      height: 100px;
  }

  .overlay-text {
      font-size: 9px;
  }
}



.multi-line-text-truncate-3 {
  overflow: hidden;
  max-width: 400px;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  margin: 20px auto;
}

.multi-line-text-truncate-4 {
  overflow: hidden;
  max-width: 400px;
  display: -webkit-box;
  -webkit-line-clamp: 8; 
  -webkit-box-orient: vertical;
  margin: 20px auto;
}

.multi-line-text-truncate-3 p {
  font-size: small;
}

.btn, .card {
  box-shadow: none;
}

.btn{
  border: #F1464B 1px solid  !important;
  color: #F1464B;
}

.btn:hover{
  background-color: #F1464B;
  color: white;
}

.f-program a{
  color: #F1464B;
}

.link-btn {
  background-color: #F1464B;
  color: white;
}

.benefit-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .benefit-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #17A567;
  }

  .card-body img {
    transition: transform 0.3s ease;
  }

  .benefit-card:hover .card-body img {
    transform: scale(1.2);
  }

  .benefit-card:hover p, .benefit-card:hover h5 {
    color: white;
  }

.card-box {
 border-radius: 20px;
 background: #f5f5f5;
 position: relative;
 border: 1px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}


.card-box:hover {
 border-color: #F1464B;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card-box:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}

.carousel-img {
    height: 400px; 
    object-fit: cover; 
}

.form-check {
    margin: 10px 0;
}

  .dropbtn {
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 200px;
    border-radius: 5px;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 5px;
    color: #F1464B;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    
  }

  .dropdown:hover .dropbtn {
    color: #F1464B;
    
  }

  .log-in-btn:hover, .profile-dropdown:hover {
    color:#F1464B;
  }

  #responsiveMenu {
    background-color: #A3D7BC; 
    position: absolute; 
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
  }

  #responsiveMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #responsiveMenu li {
    padding: 10px 20px; 
  }

  #responsiveMenu li a {
    text-decoration: none; 
    color: #333333; 
  }

  #responsiveMenu li:hover {
    background-color: #f0f0f0; 
  }

  #responsiveMenu li a:hover {
    color: #F1464B; 
  }

  .nav-icon {
    cursor: pointer;
    font-size: 1.5em;
    color: #fff;
  }

  .spinner-overlay {
    display: flex; 
    opacity: 0; 
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 99999  ; 
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
  }

.spinner {
 --size: 30px;
 --first-block-clr: #F1464B;
 --second-block-clr: #17A567;
 --clr: #111;
 width: 100px;
 height: 100px;
 position: relative;
}

.spinner::after,.spinner::before {
 box-sizing: border-box;
 position: absolute;
 content: "";
 width: var(--size);
 height: var(--size);
 top: 50%;
 animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
 left: 50%;
 background: var(--first-block-clr);
}

.spinner::after {
 background: var(--second-block-clr);
 top: calc(50% - var(--size));
 left: calc(50% - var(--size));
 animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
 0%, 100% {
  transform: none;
 }

 25% {
  transform: translateX(100%);
 }

 50% {
  transform: translateX(100%) translateY(100%);
 }

 75% {
  transform: translateY(100%);
 }
}

@keyframes up {
 0%, 100% {
  transform: none;
 }

 25% {
  transform: translateX(-100%);
 }

 50% {
  transform: translateX(-100%) translateY(-100%);
 }

 75% {
  transform: translateY(-100%);
 }
 
}

.show-spinner .spinner-overlay {
  opacity: 1;
  visibility: visible;
}
